@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  color: aliceblue;
  background-color: rgb(34, 40, 49);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-1 {
  background-color: rgb(34, 40, 49);
}

.dark-2 {
  background-color: rgb(49, 54, 63);
}

.dark-3 {
  background-color: rgb(117, 171, 174);
}

.dark-4 {
  background-color: rgb(238, 238, 238);
}

.button {
  color: aliceblue;
  border: 2px solid;
  border-radius: 20px;
  padding: 5px;
  font-size: large;
}

.button:hover {
  background-color: rgb(106, 157, 160);
}

.button-border {
  border-color: rgb(106, 157, 160);
}

.card {
  color: aliceblue;
  padding: 5px;
  width: 50vh;
  height: 40vh;
  line-height: 50%;
  border: 2px solid;
  border-color: rgb(38, 42, 49);
  border-radius: 20px;
  position: relative;
}

.cardDescription {
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 20vh;
}

.layout {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navitem {
  color: aliceblue;
  background-color: rgb(49, 54, 63);
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.navitem:hover {
  background-color: rgb(34, 40, 49);
}

.bottomElement {
  position: absolute;
  bottom: 0;
}